<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <ul class="sidebar-menu">
            <li class="header">Main Pages</li>
            <li><a href="#"><i class="fa fa-user-circle"></i> <span>Foo</span></a></li>
            <li><a href="/links"><i class="fa fa-users"></i> <span>Bar</span></a></li>
            <li><a href="/whoweare"><i class="fa fa-calendar"></i> <span>Baz</span></a></li>

            <li class="header">Everything Else</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-file-text-o fa-fw"></i>
                <span>Individual Pages</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-user-circle"></i> <span>Foo</span></a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>