<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload news or document link</title>
    <link rel="icon" href="/img/logo.png">
</head>
<body>
    <form action="/upload" method = "POST">
        <input type="text" name = "title" placeholder = "Title">
        <textarea name="content" id="" cols="30" rows="10" placeholder = "Content here"></textarea>
        <input type="submit" value = "Submit News">
    </form>

    <!-- <div>
        <h3>Submit Link</h3>
        <form action="/uploadlink" method = "POST">
            <input type="text" name = "title" placeholder = "Title">
            <input type="text" name = "link" placeholder = "link">
            <input type="submit" value = "Submit">
        </form>
    </div> -->
    <div>
        <h3>Upload Pdf</h3>
        <form action="/uploadlink" method = "POST">
            <label for="typecat">Enter Category</label>
            <select name="category" id="typecat" required>
                <option value="exam">Exam Week</option>
                <option value="daily">Daily Notes</option>
                <option value="homework">Homework</option>
                <option value="book">Book</option>
                <option value="cc">Complete Chapter</option>
                <option value="idoc">Syllabus/other related doc</option>
            </select><br><br>
            <label for="title">Title:</label>
            <input type="text" name = "title" placeholder = "Title" id = "title" required><br><br>
            <label for="description">Description(optional): </label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea><br><br>
            <label for="link">Gdrive Link:</label>
            <input type="text" name = "link" placeholder = "link" id = "link" required><br><br>
            <label for="owner">Submitted By:</label>
            <input type="text" name = "owner" placeholder = "Submitted By" id = "owner" value = "<%= user.username %>"><br><br>
            <label for="section">For Section:</label>
            <input type="text" name = "section" placeholder = "section" id = "section"><br><br>
            <label for="subject">Subject:</label>
            <input type="text" name = "subject" placeholder = "subject" id = "subject"><br><br>
            <input type="submit" value = "Submit PDF">
        </form>
    </div>
</body>
</html>