<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload news or document link</title>
    <link rel="icon" href="img/logo.png">
</head>
<body>
    <form action="/upload" method = "POST">
        <input type="text" name = "title" placeholder = "Title">
        <textarea name="content" id="" cols="30" rows="10" placeholder = "Content here"></textarea>
        <input type="submit" value = "Submit News">
    </form>

    <div>
        <h3>Submit Link</h3>
        <form action="/uploadlink" method = "POST">
            <input type="text" name = "title" placeholder = "Title">
            <input type="text" name = "link" placeholder = "link">
            <input type="submit" value = "Submit">
        </form>
    </div>
</body>
</html>