.visitlink{
    border:none;
}

.visitlink:hover{
    background: #f9f9f9;
    margin-top: -5px;
    margin-left: -5px;
    box-shadow: 2px 5px rgba(0,0,0, 0.5);
    transition: 0.25s;
}

.clicklink{
    color: #303030;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.clicklink:hover{
    background: #007bff;
    color: #fff;
    transition: 0.2s;
}

.pagination {
    width: 100%;
    padding-top: 10px;
}

.pgbutton{
    padding: 5px;
    border-radius: 5px;
}

.pagination li {
    margin-right: 10px;
}